:root {
	--background: #100818;
	--white: #f2f2f2;
	--pure-white: #e8e7e8;
	--primary-red: #ff113c;
	--secondary-red: #fe1e33;
	--glow-red: #f3113e;
	--purple-accent: #180730;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
}

body {
	background: var(--background);
	color: var(--white);
	transition: background-color 0.5s;
	font-family: 'Nunito', sans-serif;
}

/* Structure */
Section {
	height: 100vh;
	width: 100vw;
	background: var(--background);
	padding: 20px auto;
	align-items: center;
	justify-content: center;
}

.front-page {
	height: 100vh;
	width: 100%;
	background-image: url(./assets/nasa.jpg) !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.projects {
	overflow: hidden;
	overflow-wrap: break-word;
	padding: 20px 5px;
	height: auto;
}

.container {
	display: flex;
	justify-content: center;
	margin: 15px;
}

.contact {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
}

/* General Styles */
.card-info > i {
	color: var(--red);
	transition: transform 0.3s;
	font-size: 1em;
	height: 20px;
	line-height: 20px;
}

i:hover {
	transform: translateY(-10px);
}

h2 {
	color: var(--white);
	font-size: 2rem;
	font-weight: 700;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	color: var(--white);
}

h3 {
	color: var(--white);
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	font-size: 1.3em;
	line-height: 20px;
	padding: 15px;
}

/* Nav */
#main {
	transition: margin-left 0.5s;
}

.span {
	font-size: 30px;
	cursor: pointer;
	color: var(--white);
	position: fixed;
	left: 10px;
	top: 10px;
	z-index: 1;
}

nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: var(--background);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 5%;
}

nav a {
	padding: 5px 15px;
	text-decoration: none;
	font-size: 25px;
	color: var(--white);
	display: block;
	transition: 0.3s;
	z-index: 10;
}

nav a:hover {
	color: var(--glow);
}

nav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* Front Page */
.gradient {
	position: absolute;
	top: 160px;
	left: 10%;
	font-size: 3rem;
	animation: background-pan 3s linear infinite;
	background: linear-gradient(
		90deg,
		hsla(346, 64%, 41%, 1) 0%,
		hsla(349, 100%, 53%, 1) 81%,
		hsla(348, 90%, 51%, 1) 100%,
		hsla(346, 64%, 41%, 1) 0%
	);
	background-size: 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	opacity: 1;
}

.non-gradient {
	position: absolute;
	top: 220px;
	left: 15%;
	font-size: 1.5rem;
	opacity: 1;
}

@keyframes background-pan {
	from {
		background-position: 0% center;
	}
	to {
		background-position: -200% center;
	}
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}

/* Projects
#cards {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	max-width: 916px;
	width: calc(100% - 20px);
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 auto;
	padding: 0px;
}

#cards:hover > .card::after {
	opacity: 1;
}

.card {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	height: 300px;
	width: 300px;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

.card:hover::before {
	opacity: 1;
}

.card::before,
.card::after {
	border-radius: inherit;
	content: '';
	height: 100%;
	left: 0px;
	opacity: 0;
	position: absolute;
	top: 0px;
	transition: opacity 500ms;
	width: 100%;
}

.card::before {
	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.06),
		transparent 40%
	);
	z-index: 3;
}

.card::after {
	background: radial-gradient(
		600px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.4),
		transparent 40%
	);
	z-index: 1;
}

.card > .card-content {
	background-color: rgb(22, 22, 22);
	border-radius: inherit;
	inset: 1px;
	position: absolute;
	z-index: 2;
	display: flex;
  	flex-direction: column;
  	flex-grow: 1;


.card-image {
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: left;
	overflow: hidden;
	background-position: center;
	object-fit: cover;
	max-width: 100%;
	max-height: 45%;
}

.card-image > i {
	font-size: 6em;
	opacity: 0.25;
}

.card-info-wrapper {
	align-items: center;
	display: flex;
	flex-grow: 1;
	justify-content: flex-start;
	padding: 0px 20px;
}

.card-info {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	color: rgba(255, 255, 255, 0.5);
}

.fab {
	padding-top: 5px;
} */

#cards {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	max-width: 916px;
	width: calc(100% - 20px);
}

#cards:hover > .card::after {
	opacity: 1;
}

.card {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	height: 260px;
	flex-direction: column;
	position: relative;
	width: 300px;
}

.card:hover::before {
	opacity: 1;
}

.card::before,
.card::after {
	border-radius: inherit;
	content: '';
	height: 100%;
	left: 0px;
	opacity: 0;
	position: absolute;
	top: 0px;
	transition: opacity 500ms;
	width: 100%;
}

.card::before {
	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.06),
		transparent 40%
	);
	z-index: 3;
}

.card::after {
	background: radial-gradient(
		600px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.4),
		transparent 40%
	);
	z-index: 1;
}

.card > .card-content {
	background-color: #171717;
	border-radius: inherit;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	inset: 1px;
	padding: 10px;
	position: absolute;
	z-index: 2;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

h1,
h2,
h3,
h4,
span {
	color: rgb(240, 240, 240);
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	margin: 0px;
}

i {
	color: rgb(240, 240, 240);
}

.card-image {
	align-items: center;
	display: flex;
	height: 140px;
	justify-content: center;
	overflow: hidden;
}

.card-image > i {
	font-size: 6em;
	opacity: 0.25;
}

.card-info-wrapper {
	align-items: center;
	display: flex;
	flex-grow: 1;
	justify-content: flex-start;
	padding: 0px 20px;
}

.card-info {
	align-items: flex-start;
	display: flex;
	gap: 10px;
}

.card-info > i {
	font-size: 1em;
	height: 20px;
	line-height: 20px;
}

.card-info-title > h3 {
	font-size: 1.1em;
	line-height: 20px;
}

.card-info-title > h4 {
	color: #141414;
	font-size: 0.85em;
	margin-top: 8px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media (max-width: 1000px) {
	body {
		align-items: flex-start;
		overflow: auto;
	}

	#cards {
		max-width: 1000px;
		padding: 10px 0px;
	}

	.card {
		flex-shrink: 1;
		width: calc(50% - 4px);
	}
}

@media (max-width: 500px) {
	.card {
		height: 180px;
	}

	.card-image {
		height: 80px;
	}

	.card-image > i {
		font-size: 3em;
	}

	.card-info-wrapper {
		padding: 0px 10px;
	}

	.card-info > i {
		font-size: 0.8em;
	}

	.card-info-title > h3 {
		font-size: 0.9em;
	}

	.card-info-title > h4 {
		font-size: 0.8em;
		margin-top: 4px;
	}
}

@media (max-width: 320px) {
	.card {
		width: 100%;
	}
}

/* About */
.me-img {
	height: 200px;
	width: auto;
	align-items: center;
	margin: 10px;
}

.description {
	background-color: #a7a7a7;
	margin: 20px;
	padding: 10px;
	width: 40%;
	height: auto;
	float: right;
}

/* Contact */

form {
	background-color: var(--purple-accent);
	display: flex;
	flex-direction: column;
	padding: 2vh 4vw;
	width: 90%;
	max-width: 600px;
	border-radius: 15px;
}

form h3 {
	color: var(--secondary-red);
	margin: 10px;
	align-self: center;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	font-size: 1.5em;
	line-height: 20px;
}
form input,
form textarea {
	border: 1px solid var(--white);
	color: var(--white);
	margin: 5px;
	padding: 15px;
	outline: none;
	background: var(--purple-accent);
	font-size: 16px;
}
form button {
	padding: 15px;
	border: 0;
	outline: none;
	cursor: pointer;
	width: 150px;
	margin: 20px;
	border-radius: 30px;
	align-self: center;
}

.submit {
	font-weight: 700;
	text-decoration: none;
	padding: 0.5em 1em;
	color: var(--secondary-red);
	background-color: transparent;
	border: 2px solid var(--secondary-red);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.submit:focus,
.submit:hover {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	background-color: var(--secondary-red);
	color: var(--pure-white);
	-webkit-box-shadow: 0 7px 28px #fe1e3340, 0 10px 10px #fe1e3338,
		0 0 120px var(--secondary-red);
	box-shadow: 0 14px 28px #fe1e3340, 0 10px 10px #fe1e3338,
		0 0 120px var(--secondary-red);
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */
@media (max-width: 1000px) {
	body {
		align-items: flex-start;
		overflow: auto;
	}

	#cards {
		max-width: 1000px;
		padding: 10px 0px;
	}

	.card {
		flex-shrink: 1;
		width: calc(50% - 4px);
	}
}

@media (max-width: 500px) {
	.card {
		height: 180px;
	}

	.card-image {
		height: 80px;
	}

	.card-image > i {
		font-size: 3em;
	}

	.card-info-wrapper {
		padding: 0px 10px;
	}

	.card-info > i {
		font-size: 0.8em;
	}

	.card-info-title > h3 {
		font-size: 0.9em;
	}

	.card-info-title > h4 {
		font-size: 0.8em;
		margin-top: 4px;
	}
}

@media (max-width: 320px) {
	.card {
		width: 100%;
	}
}
